/*Forgot-Password Styling*/
.nav-bar{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.nav-bar h1{
    color:rgb(27, 116, 228);
    font-size: 22px;
    font-weight: 900;
}
.nav-bar a{
    text-decoration: none;
    font-size: 12px;
    color:rgb(27, 116, 228);
}
.nav-bar a:hover{
    text-decoration: underline;
}
.heading{
    display: flex;
    flex-direction: row;
}
.heading h2{
 align-items: end;
}
.item1{
    flex: 1;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.bg{
    background-color: rgb(233, 235, 238);
    min-height: 75vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.nav-bar input{
    background-color: white;
    outline: none;
    border: .5px solid gray;
    border-radius: 5px;
    width: 175px;
    padding: 10px;
    font-size: 14px;
}
.nav-bar .log-in{
    background-color: rgb(27, 116, 228);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
} 
.item1 p{
    font-size: 16px;
}
.item1 input{
    font-size: 16px;
    width: 95%;
    padding: 10px;
    outline: none; 
    border: .5px solid gray;
    border-radius: 5px;
}
.item1 .search{
    background-color:rgb(27, 116, 228);
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 7.5px 15px;
    border-radius: 5px;
}
.item1 .cancel{
    background-color:rgb(233, 235, 238);
    outline: none;
    border: none;
    font-size: 14px;
    padding: 7.5px 15px;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 5px;
}
    .container{
    display: flex;
    justify-content: flex-end;
}